body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./image/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.app {
    display: grid;
    grid-template-columns: 30% 70%;   
}




.contacts-list {
    grid-column: 1 / 2;
    width: 30vw;
    height: 100vh;
} 

